#c1{
    height:27%;
	width:10%;
	position:fixed;
	top:4%;
	left:22%;
}
#c2{
    height:27%;
	width:10%;
	position:fixed;
	top:4%;
	left:32.5%;
}
#c3{
    height:27%;
	width:10%;
	position:fixed;
	top:4%;
	left:43%;
}
#c4{
    height:27%;
	width:10%;
	position:fixed;
	top:4%;
	left:53.5%;
}
#c5{
    height:27%;
	width:10%;
	position:fixed;
	top:4%;
	left:64%;
}
#c6{
    height:27%;
	width:10%;
	position:fixed;
	top:4%;
	left:74.5%;
}
#c7{
    height:27%;
	width:10%;
	position:fixed;
	top:4%;
	left:85%;
}
#c8{
    height:27%;
	width:10%;
	position:fixed;
	top:32%;
	left:22%;
}
#c9{
    height:27%;
	width:10%;
	position:fixed;
	top:32%;
	left:32.5%;
}
#c10{
    height:27%;
	width:10%;
	position:fixed;
	top:32%;
	left:43%;
}
#c11{
    height:27%;
	width:10%;
	position:fixed;
	top:32%;
	left:53.5%;
}
#c12{
    height:27%;
	width:10%;
	position:fixed;
	top:4%;
	left:32%;
	position:fixed;
	top:32%;
	left:64%;
}
#c13{
    height:27%;
	width:10%;
	position:fixed;
	top:32%;
	left:74.5%;
}
#c14{
    height:27%;
	width:10%;
	position:fixed;
	top:32%;
	left:85%;
}
#c15{
    height:27%;
	width:10%;
	position:fixed;
	top:60%;
	left:22%;
}
#c16{
    height:27%;
	width:10%;
	position:fixed;
	top:60%;
	left:32.5%;
}
#c17{
    height:27%;
	width:10%;
	position:fixed;
	top:60%;
	left:43%;
}
#c18{
    height:27%;
	width:10%;
	position:fixed;
	top:60%;
	left:53.5%;
}
#c19{
    height:27%;
	width:10%;
	position:fixed;
	top:60%;
	left:64%;
}
#c20{
    height:27%;
	width:10%;
	position:fixed;
	top:60%;
	left:74.5%;
}
#c21{
    height:27%;
	width:10%;
	position:fixed;
	top:60%;
	left:85%;
}